@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #8A0000 0%, #000000 100%);
}

p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: red;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: antiquewhite;
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #8A0000 0%, #000000 100%);
}

.card {
    background: linear-gradient(270deg, #8A0000 0%, #000000 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #8A0000 0%, #000000 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}


@keyframes call {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@media(max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}